<div class="card adr-meta-card mb-4">
  <div class="card-body">
    <dl class="adr-meta mb-0">
      {% if page.status %}
      <dt>Estado</dt>
      <dd>
        <span class="adr-status-badge status-{{ page.status }}">{{ page.status }}</span>
      </dd>
      {% endif %}

      {% if page.product %}
      <dt>Producto</dt>
      <dd>
        <span class="badge adr-product-badge">{{ page.product }}</span>
      </dd>
      {% endif %}

      {% if page.date %}
      <dt>Fecha</dt>
      <dd>{{ page.date | date: "%d de %B de %Y" }}</dd>
      {% endif %}

      {% if page.decision_makers and page.decision_makers.size > 0 %}
      <dt>Decisores</dt>
      <dd>
        {% for key in page.decision_makers %}
          {%- assign autor = site.data.authors[key] -%}
          {%- if autor -%}
            <a href="{{ autor.url }}">{{ autor.name }}</a>{% unless forloop.last %}, {% endunless %}
          {%- else -%}
            {{ key }}{% unless forloop.last %}, {% endunless %}
          {%- endif -%}
        {% endfor %}
      </dd>
      {% endif %}

      {% if page.consulted and page.consulted.size > 0 %}
      <dt>Consultados</dt>
      <dd>
        {% for key in page.consulted %}
          {%- assign autor = site.data.authors[key] -%}
          {%- if autor -%}
            <a href="{{ autor.url }}">{{ autor.name }}</a>{% unless forloop.last %}, {% endunless %}
          {%- else -%}
            {{ key }}{% unless forloop.last %}, {% endunless %}
          {%- endif -%}
        {% endfor %}
      </dd>
      {% endif %}

      {% if page.informed and page.informed.size > 0 %}
      <dt>Informados</dt>
      <dd>
        {% for key in page.informed %}
          {%- assign autor = site.data.authors[key] -%}
          {%- if autor -%}
            <a href="{{ autor.url }}">{{ autor.name }}</a>{% unless forloop.last %}, {% endunless %}
          {%- else -%}
            {{ key }}{% unless forloop.last %}, {% endunless %}
          {%- endif -%}
        {% endfor %}
      </dd>
      {% endif %}
    </dl>
  </div>
</div>
